body {
  margin: 0;
}

* {
  font-family: "gilroyblack", arial;
}

.header {
  padding: 4.2vw 0 4.2vw 9vw;
  background: #3030C1;
}

.header__logo {
  background:  url('img/logo.svg') no-repeat;
  background-size: cover;
  width: 12.6vw;
  height: 3.3vw;
  }

.section-one {
  width: 100%;
  height: 46.6vw;
  background: no-repeat url(img/section1.svg) #3030C1;
  background-size: 39.2vw 32.2vw;
  background-position: 51.8vw 1.3vw;
}

.section-one__block {
  display: flex;
  flex-direction: column;
  padding: 2.5vw 48.3vw 16.7vw 9vw;
}

span {
  white-space: nowrap;
}

.section-one__title {
  font-weight: 800;
  font-size: 3.13vw;
  line-height: 3.82vw;
  color: #FFF;
  margin-bottom: .2vw;
}

.subtitle {
  font-weight: 800;
  font-size: 2.08vw;
  line-height: 2.57vw;
}

.subtitle_yellow {
  color: #FFCC33;
  padding-right: 18vw;
  margin-bottom: .65vw;
}

.section-one__text {
  font-family: gilroylight, arial, helvetica;
  font-weight: 300;
  font-size: 1.4vw;
  line-height: 1.6vw;
  margin: 0 0 2.4vw 0;
  padding-right: 10vw;
  color: #FFF;
}

.section-one__button {
  padding: 1vw 1.7vw;
  background: #FFCC33;
  color: #3030C1;
}

.button {
  width: max-content;
  font-family: montserratblack, arial, helvetica;
  font-weight: 900;
  font-size: 1.39vw;
  line-height: 1.6vw;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: opacity .5s;
}

.section-one__button:hover {
  opacity: .5;
  color: red;
}

.form__input {
  font-family: gilroyultralight, arial;
}
.copyright > span {
  font-family: robotothin, arial;
}

@media (max-width: 400px) {

  .header {
    padding: 39px 0 0 30px;
  }

  .header__logo {
    width: 93px;
    height: 24px;
    }

   .section-one {
      width: 100%;
      height: 166vw;
      background-size: 74.75vw 61.25vw;
      background-position: 11.75vw 84.25vw
    }

    .section-one__block {
      padding: 1vw 11vw 6vw 7vw;
    }

    .section-one__title {
      font: 800 25px/31px gilroyblack, arial, helvetica, sans-serif;
      margin-bottom: 26px;
    }

    .subtitle {
      font: 800 20px/25px gilroyblack, arial, helvetica, sans-serif;
      margin: 0;
      padding: 0;
      width: 98%;
    }

    .section-one__text {
      font: 300 15px/17px gilroylight, arial, helvetica, sans-serif;
      margin: 0;
      padding-right: 0;
      width: 96%;
    }

    .section-one__button {
      display: none;
    }
